<!-- the variable values are inserted by interpolation {{VALUE}} -->

<h1>
    From function getFullName() I have : {{getFullName()}}
</h1>

<table>
    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>

<br><br>

<!-- the button disabled value is inserted by interpolation 
    this implementation will NOT work-->
<button disabled={{isDisabled}}>Click me interpolation</button>

<br><br>
<!-- the button disabled value is inserted by binding to DOM proprety (Document Object Model)
    this implementation will work-->
<button [disabled]='isDisabled'>Click me binding</button>

<br><br>

<table>
    <tr>
        <!-- proprety binding []-->
        <!-- event binding ()-->
        <td><button [disabled]='isDisabled' (click)=onClickBackward()>Modify age backward</button></td>
        <td><button [disabled]='isDisabled' (click)=onClickForward()>Modify age forward</button></td>
    </tr>

</table>

<br><br>
<button (click)=onClickToggle()>Toggle button details</button>

